.bar {
	height:10px;
	background-color:#1ebfb3;
	display:block;
	margin-top:5px;
	-webkit-print-color-adjust:exact;
}

h1, h2, h3, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-size:3.8rem;
	margin-bottom:8px;
	margin-top:4px;
}

h2 {
	font-size:1.8rem;
	text-transform: uppercase;
	margin-bottom:8px;
	margin-top:4px;
	font-weight:600;
}

@media print {
	.bar {
		background-color:#1ebfb3!important;
	    -webkit-print-color-adjust:exact;
	}
}

.rightalign {
	text-align:right;
}

p { 
	font-size:13px;
	margin-bottom:4px;
}

.variable {
	color:#009688;
	font-weight:600;
}

@media print {
	.variable {
		color:#009688! important;
	}
}

table {
	font-size:11px;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
  -webkit-print-color-adjust: exact;
  margin-left:30px;
  margin-right:30px;
}

@media print { bar { -webkit-print-color-adjust: exact; } }

.countrycol {
	width:15%;
}

.datacol {
	width:10%;
}

.arrowcol {
	width:5%;
}

.barcol {
	width:5%;
}

.logos img {
	margin-right: 40px;
	margin-bottom: 0;
	vertical-align: top;
	width: auto;
	float:right
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../assets/fonts/Gotham-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../assets/fonts/Gotham-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../assets/fonts/Gotham-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Gotham-Book';
}

thead td {
	font-family: 'Source Sans Pro', sans-serif;
}

footer p {
	font-size:10px;
	color: #aaa;
}

td {
	padding-top:4px!important;
	padding-bottom:2px!important;
}